{{#d-section pageClass="newdirs"}}
  <h1>{{i18n "newdirs.title"}}</h1>
<div class='container'>
  <table class="groups-table">
    <thead>
        <th>User</th>
        <th>Building</th>
        <th>Unit #</th>
        <th>Full</th>
    </thead>

    <tbody>
        {{#each newdirs as |newdir|}}
            <tr>
                <td>
                    {{user-info user=newdir}}
                </td>
                <td>
                    {{ newdir.custom_fields.user_field_1 }}
                </td>
                <td>
                    {{ newdir.custom_fields.user_field_2 }}
                </td>
                <td>
                    {{ newdir.custom_fields.user_field_3 }}
                </td>
            </tr>
        {{/each}}
    </tbody>
  </table>
</div>
{{/d-section}}
