{{#d-section pageClass="newdirs"}}
  <h1>{{i18n "newdirs.title"}}</h1>
<div class='container'>
<div class='directory'>
  <table>
    <thead>
        <th>User</th>
        <th>Unit #</th>
        <th>Phone #</th>
        <th>Email</th>
    </thead>

    <tbody>
        {{#each newdirs as |newdir|}}
            <tr>
                <td style="width: 200px">
                    {{user-info user=newdir}}
                </td>
                <td style="width: 200px">
                    {{ newdir.custom_fields.user_field_1 }}
                </td>
                <td style="width: 200px">
                    {{ newdir.custom_fields.user_field_2 }}
                </td>
                <td style="width: 200px">
                    {{ newdir.email }}
                </td>
            </tr>
        {{/each}}
    </tbody>
  </table>
</div>
</div>
{{/d-section}}
